@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .debug {
    border: solid 1px red;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
